.contentDiv{
    margin-top: 250px;
    width: 1000px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    
}
.heading{
    margin-left: 20px;
    color:green
}
.imgStyle{
    width:150px;
    
}