.contentPiv{
    margin-top: 250px;
    width: 1000px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    
}

.content_d{
    margin-top: 0px;
    width: max_content;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 0px;
    
}
.dropdown{
    padding: 7px;
    width: 300px;
}
.formControl{
    margin-left: 50px;
    
}
.buttonDiv{
    text-align: center;
}
.fileName{
    margin-top: 10px;
}
.crossIcon{
    margin-left:20px;
}
